	<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>파일 확장자 차단</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link rel="stylesheet" href="common.css">
    </head>
    <body>
    	<div class="wrap">
    		<div class="wrap_tbl" style="height:40px;">
    			<div class="wrap_header">
    				<span>고정 확장자</span>
    			</div>
    			<div class="wrap_data">
    				<input type="checkbox" id="bat"><label class="lbl" for="bat"><span>bat</span></label>
    				<input type="checkbox" id="cmd"><label class="lbl" for="cmd"><span>cmd</span></label>
    				<input type="checkbox" id="com"><label class="lbl" for="com"><span>com</span></label>
    				<input type="checkbox" id="cpl"><label class="lbl" for="cpl"><span>cpl</span></label>
    				<input type="checkbox" id="exe"><label class="lbl" for="exe"><span>exe</span></label>
    				<input type="checkbox" id="scr"><label class="lbl" for="scr"><span>scr</span></label>
    				<input type="checkbox" id="js"><label class="lbl" for="js"><span>js</span></label>
    			</div>
    		</div>
    		<div class="wrap_tbl">
    			<div class="wrap_header">
    				<span>커스텀 확장자</span>
    			</div>
    			<div class="wrap_data">
    				<form action="/extension/add" th:object="${extension}" method="post">
    					<input type="text" th:field="*{extensionName}" placeholder="확장자 입력" maxLength=20 />
    					<!-- <button th:onclick="|javascript:insertExtension('${extension.name}')|">+추가</button> -->
    					<button type="submit">+추가</button> 
    					<div class="custom">
    					</div>
    				</form>
    			</div>	
    		</div>
    	</div>
    </body>
    </html>
 