<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>파일 확장자 차단</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         <link rel="stylesheet" href="common.css">
         <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
    	<div class="wrap">
    		<div class="wrap_tbl" style="height:40px;">
    			<div class="wrap_header">
    				<span>고정 확장자</span>
    			</div>
    			<div class="wrap_data" id="fixExtension" th:each ="fixExten : ${fix}">
    				<input type="checkbox" th:field="*{fix}" th:value="${fixExten.key}"  th:onclick="updateFix(this)">
    				<label th:for="${#ids.seq('fix')}" th:text="${fixExten.key}" class="lbl"><span></span></label>
    			</div>
    		</div>
    		<div class="wrap_tbl">
    			<div class="wrap_header">
    				<span>커스텀 확장자</span>
    			</div>
    			<div class="wrap_data">
    				<form th:action="@{/extension/add}" th:object="${extension}" method="post">
    					<input type="text" th:field="*{extensionName}" placeholder="확장자 입력" maxLength=20 />
    					<button type="submit">+추가</button> 
    					<span id="result" th:text=${result}></span>
    				</form>
    				<div class="custom" id="custom" style="overflow:scroll;">
    					<div id="extenCnt" style="margin: 2px 5px;"><span th:text="|${extenCount}/200|"></span></div>
    					<div th:if="${customExtension} != null">
    						<div th:each="ex : ${customExtension}" style="float:left;width: fit-content; height: 18px; border: 1px solid #535353; margin: 5px; border-radius: 5px;">
    							<span th:text="${ex.extensionName}" style="margin-left: 8px;margin-right: 8px;"></span>
    							<i th:onclick="deleteExtension([[${ex.extensionName}]])" style="margin-right:8px;cursor: pointer;">X</i>
    						</div>
    					</div> 
    				</div>
    			</div>	
    		</div>
    	</div>
	</body>
</html>
<script type="text/javascript">
$( document ).ready(function() {
    $.ajax({
    	url: "/fix",
    	data: "",
    	type: "POST",
    	success : function(data){
    		for(var [key, value] of Object.entries(data)){
    			if(value==true) {
    				$('input[value="'+key+'"]').attr("checked","checked");
    			}
    			
    		}
    	},
    	error : function(){
    		alert("에러")		
    	}
    });
    $('#extensionName').focus();
    
});

function deleteExtension(name) {
	$.ajax({
		url: "/extension/delete",
		data: "name=" + name,
		type: "GET",
		success : function(data){
			alert('커스텀 확장자 '+name+'(이)가 삭제되었습니다.');
		    $('#custom').replaceWith(data);
		},
		error : function(){
			
		}
	});
}

function updateFix(data){
	var chk = $('input[id="'+data.id+'"]');
	var prmt = {};
	prmt.name = data.value;
	prmt.checkYn = chk.is(":checked");
	$.ajax({
		url: "/fix/update",
		data: prmt,
		type: "POST",
		success : function(data){
		},
		error : function(){
		}
	});
    $.ajax({
    	url: "/fix",
    	data: "",
    	type: "POST",
    	success : function(data){
    	},
    	error : function(){
    		
    	}
    });
}

</script>